<div class="devise">
<div class="centerContent">
  <div class="centered">
    <div class="loginBox">
      <div class="centerText">
<h2>Resend confirmation instructions</h2>

</div>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">

    <%= f.email_field :email, autofocus: true, :class => 'deviseInput', placeholder: "Email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", :class => 'deviseLogin' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>
</div>
</div>
