<div class="devise">
<div class="centerContent">
  <div class="centered">
    <div class="loginBox">
      <div class="centerText">
<h2>Log in</h2>
<p>Sign in to play</p>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= f.email_field :email, autofocus: true, :class => 'deviseInput', placeholder: "Email" %>



    <%= f.password_field :password, autocomplete: "off", :class => 'deviseInput', placeholder: "Password" %>



<div class="centerText">
    <%= f.submit "Log in", :class => 'deviseLogin' %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
</div>
