<%= form_for(@invader) do |f| %>
  <% if @invader.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invader.errors.count, "error") %> prohibited this invader from being saved:</h2>

      <ul>
      <% @invader.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.text_field :name, :class => 'formInput', placeholder: "Name" %>
  </div>
  <div class="field">

    <%= f.text_field :description, :class => 'formInput', placeholder: "Description" %>
  </div>
  <div class="field">
    <%= f.text_field :hints, :class => 'formInput', placeholder: "Hints" %>
  </div>
  <div class="field">
    <input type="button" class="formBtn" value="Upload Photo">
    <%= f.text_field :location, :class => 'hidden' %>
  </div>
  <div class="field">
    <%= f.number_field :users_id, :class => 'hidden'  %>
  </div>
  <div class="field">
    <input type="file" accept="image/*" class="formBtn" value="Upload Photo">
    <%= f.text_field :image, :class => 'hidden'  %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => 'formSubmit' %>
  </div>
<% end %>
