
<%= form_for @invader, html: { multipart: true } do |f| %>
  <% if @invader.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invader.errors.count, "error") %> prohibited this invader from being saved:</h2>

      <ul>
      <% @invader.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.text_field :name, :class => 'formInput', placeholder: "Name" %>
  </div>
  <div class="field">

    <%= f.text_field :description, :class => 'formInput', placeholder: "Description" %>
  </div>
  <div class="field">
    <%= f.text_field :hints, :class => 'formInput', placeholder: "Hints" %>
  </div>
  <div class="field">
    <input type="button" class="formBtn" id="btnLocation" value="Get Location"  onclick="getLocation()">
    <%= f.text_field :location,:id => "locationField", :class => 'hidden' %>
  </div>

  <div class="field">
    <div class="imgBtnMask">
    <input type="button" class="formBtn" value="Upload Image" id="imgResult">
    <%= f.file_field :image, :id => 'imgInput', :onchange => "document.getElementById('imgResult').style.background = '#DAFF80'", :class => 'formBtn imgBtn'%>
  </div>
  <div class="field">
    <%= f.text_field :accuracy,:id => "locationAccuracy", :class => 'hidden' %>
  </div>
  <div class="field">
    <%= f.number_field :users_id, :class => 'hidden'  %>
  </div>
  </div>

  <div class="actions">
      <%= f.submit "Submit", :class => 'formBtn submit' %>
  </div>
  <br><br>
<% end %>
