<div class="formFrame">
    <div class="invaderImageFrame overFlowHidden">
        <%= image_tag @invader.image.url(:large), :class => "invaderImage", :id => "trueImage" %>
    </div>

    <div class="invaderFrame">

        <div class="centerText">
            <h2>Validate your Invader</h2>
            <br>
            <%= form_for @temp_invader, html: { multipart: true } do |f| %>
            <input type="button" class="formBtn" id="btnLocation" value="Get Location"  onclick="getLocation()">
            <%= f.text_field :location,:id => "locationField", :class => 'hidden' %>
            <input type="text" id="locationAccuracy" hidden>
            <%= f.text_field :invaderId, :value => @invader.id, :class => 'hidden'  %>
            <div class="field">
              <div class="imgBtnMask">
              <input type="button" class="formBtn" value="Upload Image" id="imgResult">
              <%= f.file_field :image, :id => 'imgInput', :onchange => "document.getElementById('imgResult').style.background = '#DAFF80'", :class => 'formBtn imgBtn'%>
            </div>
          </div>

            <%= f.submit "Submit", :class => 'formBtn submit' %>


            <% end %>
            <br><br>
        </div>
    </div>
</div>
</div>
