<div class="formFrame">
    <div class="invaderImageFrame overFlowHidden">
        <%= image_tag @invader.image.url(:large), :class => "invaderImage", :id => "trueImage" %>
    </div>

    <div class="invaderFrame">

        <div class="centerText">
            <h2>Validate your Invader</h2>
            <br>
            <!-- <%= form_for @temp_invader, html: { multipart: true } do |f| %>
            <div class="field">
                <input type="button" class="formBtn" id="btnLocation" value="Get Location" onclick="valLocation()">
                <label id="invaderPos" hidden><%= @invader.location %></label>
            </div>

            <%= f.text_field :location %>
            <%= f.submit %>

            <div class="field">
                <div class="imgBtnMask">
                    <input type="button" class="formBtn" value="Upload Image" id="imgResult">
                    <input type="file" id="imgInput" class="formBtn imgBtn">
                    <%= link_to "Submit", { :controller =>
                               'invaders', :action =>'upgrade_credibility',
                               :id=>"#{@invader.id}" }, :class => "formBtn submit" %>

                </div>
            </div>
            <% end %> -->

            <%= form_tag({controller: "invaders", action: "createTemp"}, method: "post") do %>
            <%= text_field_tag(:location) %>
            <%= submit_tag("Search") %>
            <% end %>
            <br><br>
        </div>
    </div>
</div>
</div>
