<p id="notice"><%= notice %></p>

<h1>Listing Invaders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Hints</th>
      <th>Location</th>
      <th>Users</th>
      <th>Accuracy</th>
      <th>Credibility</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invaders.each do |invader| %>
      <tr>
        <td><%= invader.name %></td>
        <td><%= invader.description %></td>
        <td><%= invader.hints %></td>
        <td><%= invader.location %></td>
        <td><%= invader.users_id %></td>
        <td><%= invader.accuracy %></td>
        <td><%= invader.credibility %></td>
        <td><%= link_to 'Show', invader %></td>
        <td><%= link_to 'Edit', edit_invader_path(invader) %></td>
        <td><%= link_to 'Destroy', invader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invader', new_invader_path %>
