<div class="showInvaderSpecs">
<p id="notice"><%= notice %></p>

<div class="overFlowHidden"> <%= image_tag @invader.image.url(:large), :class => "invaderImage" %> </div>

<p>
  <strong>Name:</strong>
  <%= @invader.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @invader.description %>
</p>

<p>
  <strong>Hints:</strong>
  <%= @invader.hints %>
</p>

<p>
  <strong>Users:</strong>
  <%= @invader.users_id %>
</p>

<p>
  <strong>Accuracy:</strong>
  <%= @invader.accuracy %>
</p>

<p>
  <strong>Credibility:</strong>
  <%= @invader.credibility %>
</p>

<%= link_to 'Edit', edit_invader_path(@invader) %> |
<%= link_to 'Back', invaders_path %>

</div>
