<div class="showInvaderSpecs">
<p id="notice"><%= notice %></p>

<div class="invaderImageFrame overFlowHidden"> <%= image_tag @invader.image.url(:large), :class => "invaderImage" %> </div>

<div class="invaderText">


    <h1>
  <%= @invader.name %>
</h1>
<br>
<hr>
<br>

  <h2>Description:</h2>
  <p>
  <%= @invader.description %>
  </p>
  <br>



  <h2>Hints:</h2>
  <p>
  <%= @invader.hints %>
  </p>
  <br>



  <h2>Explorer:</h2>
  <p>
  <%= @invader.users_id %>
  </p>
  <br>

  <h2>Credibility:</h2>
  <p>
  <%= @invader.credibility %>
  </p>


<div class="txtAlignCenter">

<br><br>
<%= link_to 'Edit', edit_invader_path(@invader), :class => "links" %>&nbsp;&nbsp;

</div>
</div>

</div>
