<!DOCTYPE html>
<html>
<head>
  <title>Invaded</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
  <%= javascript_include_tag "application", params[:controller] %>

  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon" href="images/apple-icon.png">
</head>
<body>

  <% if user_signed_in? %>
<nav>
  <div class="nav">

    <div class="navLeft">
      <% if current_page?(:controller => 'play', :action => 'hub')%>
      <%= link_to destroy_user_session_path, :method => :delete do %>
    <i class="material-icons">power_settings_new</i>
<% end %>
  <% else %><a href="javascript:history.back()"><i class="material-icons">arrow_back</i></a><% end %>
</div>

<div class="navCenter">
  <p id="fullscreen">Hello,  <%= current_user.user_name %></p>
</div>
<div class="navRight">
    <a href="/play/hub"><i class="material-icons">home</i></a>
</div>
  </div>
</nav>
<% end %>


<%= yield %>

</body>
</html>
